body {
    margin: 0;
    background-color: black;
    padding: 10px 20px;
}

#gameCanvas {
    border: 1px solid #000;
}

#gameOverText {
    font-family: 'Press Start 2P', cursive;
    font-size: 48px;
    color: #ff0000;
    text-shadow: 2px 2px 4px #000;
    display: none;
}